*{
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif; /*This is for headings*/
font-family: 'Karla', sans-serif; /*This is for the body*/
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
  width: 100%;
    justify-content: space-between;
    position: relative;
}

.logo{
    margin-left: 1.7rem;
}

#ham{
    margin-right: 1.7rem;
}

#ham:hover{
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.top{
  width: 100%;
  display: flex;
 
    flex-direction: column;
    align-items: center;
    margin-bottom: 9rem;
    
    
}

.mobile-slidelines{
    position: absolute;
    right: 0.1rem;
}

.desktop-slidelines{
    display: none;
}

.family{
width: 1024px;
max-width: 100%;
max-height: 100%;
}

.intro-words-button{
    background-color: #2D2641;
    width: 100%;
    text-align: center;
    padding-bottom: 8rem;
    background-image: url('imgs/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
}

h1{
    font-size: 48px;
    font-family: 'DM Serif Display', serif;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    margin-top: 6rem;
    
}

.intro-words-button p{
    color: #fff;
    margin-top: 2rem;
    line-height: 26px;
 padding-left: 0.7rem;
 padding-right: 0.7rem;
margin-bottom: 2rem;
}



.intro-words-button a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
   
}



.intro-words-button a:hover {
    color: #2D2641;
    background-color: #fff;
}



h2{
    font-size: 48px;
    font-family: 'DM Serif Display', serif;
}

.middle{
    width: 100%;
  display: flex;
 
    flex-direction: column;
    align-items: center;
}

hr{
    border: 0;
   clear:both;
   display:block;
   width: 40%;               
   background-color:#C396C6;
   height: 1px;
   margin-bottom: 3rem;
   
}

#dropdown{
    display: none;
    flex-direction: column;
    background-color: #2C2830;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 3rem;
    padding-bottom: 20rem;
    background-image: url('imgs/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    
    
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
 
}

#toplist{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#toplist li{
    margin-top: 3rem;
}

#toplist a{
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;

}

.drop-button{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

.drop-button a{
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.threepoints{
    display: flex;
    flex-direction: column;
}


.firstpoint{
    margin-top: 2rem;
}

.point{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.point p{
    font-size: 16px;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h3{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    margin-bottom: 1rem;
}

.social:hover{
    filter: invert(15%) sepia(35%) saturate(667%) hue-rotate(215deg) brightness(89%) contrast(95%);
}

.svgicon{
    width: 86px;
    height: 86px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}


.cubearea{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    background-color: #2D2641;
    width: 90%;
    text-align: center;
    background-image: url('imgs/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: center;
}

.cubearea h2{
    color: #fff;
    font-size: 40px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.cubearea a{
    margin-bottom: 5rem;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.5rem;
   width: 150px;
}


.cubearea a:hover{
    color: #2D2641;
    background-color: #fff;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 100%;
    align-items: center;
}

.footercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.socialArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-image: url('imgs/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    padding-top: 4rem;

}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    margin-top: 1.5rem;
}

.btmlogo{
    width: 7rem;
}

.btmhr{
    width: 85%;
    margin-top: 2rem;
    background-color: grey;
}

.btminfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
}

.info h3{
    color: #837D88;
    font-size: 13px;
    font-family: 'Karla', sans-serif; /*This is for the body*/
    font-weight: bold;
    margin-top: 2rem;
}

.btmlist li{
    font-family: 'Karla', sans-serif; /*This is for the body*/
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 1rem;
}

.btmlist li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.top-background-lines{
    display: none;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width:25rem ;
    
}

.btm-footer-desktop{
    display: none;
}

.desktop-options{
    display: none;
}

.tablet-hr{
    display: none;
}

.top-items{
    display: flex;
    flex-direction: column;
}

.top-hr{
    display: none;
}

@media screen and (min-width:768px) {
    .top{
        flex-direction: row;
        background-color: #2D2641;
        /* background-image:url('imgs/bg-pattern-intro-right-desktop.svg');
        background-position: right ;
        background-repeat: no-repeat; */
        justify-content: center;
        position: relative;
    }

    .top-items{
        display: flex;
        flex-direction: row;
    }

    .top-background-lines{
        display: block;
        
    }

    .mobile-slidelines{
       display: none;
    }

    .desktop-slidelines{
        display: block;
        position: absolute;
        left: 0.1rem;
        bottom: -15rem;
    }

    .intro-words-button{
        background-image: none;
        text-align: left;
        background-color: transparent;
        width: 48%;
        margin-right: 2rem;
        padding-left: 1rem;
      
      
    }

    h1{
      padding-right: 2rem;
    }

  

    .intro-words-button p{
        font-size: 16px;
        

    }

    .intro-words-button a{
        margin-left: 0.5rem;
    }

   
    

    .family{
        order: 2;
        width: 300px;
        position: relative;
        top: 4rem;
        height: 400px;

       
       
    }

    .btminfo{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 80%;
        text-align: left;
       
    }

    .socialArea{
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        background-image: none;
        width: 85%;
      
    }

    .btmlogo{
        margin-left: 1rem;
    }


    footer{
        position: relative;
    }

    .btm-footer-desktop{
        display: block;
        position: absolute;
        left: 0rem;
        top: 3.5rem;
    }

    .desktop-options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 3rem;
      
    }

    .desktop-options ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
        align-items: center;
    }

    .desktop-options ul li{
        font-size: 13px;
        font-family: 'Karla', sans-serif;
    }

    .desktop-options a{
        font-size: 13px;
        font-family: 'Karla', sans-serif;
        text-decoration: none;
        color: #2C2830;
      
        border: 1px solid #2C2830;
        padding: 0.5rem 1rem;
    }

    .desktop-options a:hover{
        color: #fff;
        background-color: #2C2830;

    }

    

    #ham{
        display: none;
    }

    #dropdown{
        display: none !important;
    }

    .btmhr{
        width: 90%;
    }

    .header-content{
        align-items: center;
    }

    .logo{
        margin-left: 4rem;
    }

    .intro-words-button {
      margin-left: 2rem;
    }

    .desktop-options{
        margin-right: 2rem;
    }

    .family{
        margin-right: 2rem;
    }

    .top-hr{
        width: 30%;
        display: block;
        margin-left: 1rem;
        margin-bottom: 0rem;
        position: relative;
        top: 4rem;
        background-color: #fff;
    }

   
 
}


@media screen and (min-width:900px){
    .family{
        width: 350px;
        top: 4rem;
    }
}

@media screen and (min-width:1024px) {
    .middlehr{
        align-content: flex-start;
        margin-left: 4rem;
       
        width: 200px;
    }

    .middle{
        max-width: 1300px;
    }

    .footercontent{
        max-width: 1300px;
    }
 
  
 
    .different{
     align-self: flex-start;
     font-size: 4.5rem;
     margin-left: 4rem;
    }
 
    .threepoints{
        flex-direction: row;
        align-items: baseline;
        margin-left: 2rem;
    }

    .point p{
        padding: 0rem;
    }
    .point{
        align-items: flex-start;
        padding-left:2rem ;
        padding-right: 2rem;
        text-align: left;
    }

    .cubearea{
        flex-direction: row;
        align-items: baseline;
        background-image: url('imgs/bg-pattern-how-we-work-desktop.svg');
        justify-content: space-around;
        
    }

    .cubearea h2 {
        color: #fff;
        font-size: 40px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding: 1rem;
        width: 400px;
        text-align: left;
    }

    footer{
        margin-top: 4rem;
    }

    header{
    justify-content: center;
    }

    .header-content{
        max-width: 1300px;
    }

    .family{
        position: relative;
        width: 400px;
        top: 5rem;
        height: auto;
    }

    .top-items{
        max-width: 1300px;
    }

    .desktop-options{
        margin-right: 4rem;
    }

  
}

@media screen and (min-width:1440px) {
    .top-hr{
        margin-top: 1rem;
    }

    .desktop-options{
        margin-right: 4rem;
    }

    h1{
        font-size: 72px;
        width: 570px;
        margin-top: 7rem;
    }
    .family{
        position: relative;
        width: 550px;
        top: 5rem;
        height: auto;
    }
}