*{
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif; /*This is for headings*/
font-family: 'Karla', sans-serif; /*This is for the body*/
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
  width: 100%;
    justify-content: space-between;
    position: relative;
}

.logo{
    margin-left: 1.7rem;
}

#ham{
    margin-right: 1.7rem;
}

#ham:hover{
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.top{
  width: 100%;
  display: flex;
 
    flex-direction: column;
    align-items: center;
    margin-bottom: 9rem;
    
    
}

.mobile-slidelines{
    position: absolute;
    right: 0.1rem;
}

.family{
width: 1024px;
max-width: 100%;
max-height: 100%;
}

.intro-words-button{
    background-color: #2D2641;
    width: 100%;
    text-align: center;
    padding-bottom: 8rem;
    background-image: url('imgs/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
}

h1{
    font-size: 48px;
    font-family: 'DM Serif Display', serif;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    margin-top: 6rem;
    
}

.intro-words-button p{
    color: #fff;
    margin-top: 2rem;
    line-height: 26px;
 padding-left: 0.7rem;
 padding-right: 0.7rem;
margin-bottom: 2rem;
}



.intro-words-button a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
   
}

h2{
    font-size: 48px;
    font-family: 'DM Serif Display', serif;
}

.middle{
    width: 100%;
  display: flex;
 
    flex-direction: column;
    align-items: center;
}

hr{
    border: 0;
   clear:both;
   display:block;
   width: 40%;               
   background-color:#C396C6;
   height: 1px;
   margin-bottom: 3rem;
   
}

#dropdown{
    display: none;
    flex-direction: column;
    background-color: #2C2830;
    align-items: center;
    position: absolute;
    width: 375px;
    top: 3rem;
    padding-bottom: 20rem;
    background-image: url('imgs/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
 
}

#toplist{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#toplist li{
    margin-top: 3rem;
}

#toplist a{
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;

}

.drop-button{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

.drop-button a{
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.threepoints{
    display: flex;
    flex-direction: column;
}


.firstpoint{
    margin-top: 2rem;
}

.point{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.point p{
    font-size: 16px;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h3{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    margin-bottom: 1rem;
}

.svgicon{
    width: 86px;
    height: 86px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}